// .image{
//   position: relative;
//   width: 120px;
//   height: 120px;
//   margin: 40px auto;
//   .circle-1{
//       position: absolute;
//       box-sizing: border-box;
//       width: 140px;
//       height: 140px;
//       top: -10px;
//       left: -10px;
//       border-width: 4px;
//       border-style: solid;
//       border-color: $secondary-color transparent $secondary-color $secondary-color;
//       border-radius: 50%;
//       transition: all 1.5s ease-in-out;
//   }
//   .circle-2{
//       @extend .circle-1;
//       top: -20px;
//       left: -20px;
//       width: 160px;
//       height: 160px;
//       border-color: $secondary-color $secondary-color $secondary-color transparent;
//   }
//   img{
//       display: block;
//       border-radius: 50%;
//       background: #F5E8DF;
//   }
//   &:hover{
//       cursor: pointer;
      
//       .circle-1{
//           transform: rotate(360deg);
//       }

//       .circle-2{
//           transform: rotate(-360deg);
//       }
//   }
// }

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: center;
    .text-color-main{
      color: $name-color;
  }

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;
    justify-content: center;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
