// COLORS
$primary-color: #222831;
$secondary-color: #393e46;
$white-color: #fff;
$dark-grey: #333333;
$dark-blue-text: #272341; // For Headings

$name-color: #e84545;
// $name-color: #903749;
// https://colorhunt.co/palette/238
// https://colorhunt.co/palette/2763

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
